@model List<StudentJoin>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="row"> ID</th>
            <th> Student Name</th>
            <th> Class</th>
            <th> Age</th>
            <th> Date</th>
            <th> Fees</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <th scope="row">@student.StudentID</th>
                <td>@student.StudentName</td>
                <td>@student.StudentClass</td>
                <td>@student.StudentAge</td>
                <td>@student.Date</td>
                <td>@student.StudentFees</td>

            </tr>
        }

    </tbody>
</table>